.container {  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 0.9fr;
  grid-template-rows: 0.4fr 1.2fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "timeline timeline timeline nav"
    "timeline timeline timeline nav";
}

.nav { grid-area: nav; }

.header { grid-area: header; }

.timeline { grid-area: timeline; }

  
  .header {
     grid-area: header;
     background: #00DAFF;
     height: 15vh;
     overflow: hidden;
     }
  
  .nav {
     grid-area: nav;
     background: #00DAFF; 
     text-align: center;
     font-family: 'Agency FB', sans-serif;
     font-size: 30px;
     height: 98vh;
     overflow: hidden;
     
    }
  
  

    .headerimg {
      float: left;
      width: 30%;
    }

    

    .navtext {
      color: white;
      font-size: 14pt;
    }

    .navlinks {
      text-decoration: none;
    }

    body {
      background: white;
      overflow: hidden;
      margin: 0;
    }
    
    .timeline {
      margin: 0 auto;
      max-width: 750px;
      padding: 25px;
      display: grid;
      grid-template-columns: 2fr 3px 2fr;
      font-family: "Fira Sans", sans-serif;
      color: white;
      width: 100vw;
      overflow: scroll;
    }
    
    .timeline__component {
      margin: 0 20px 20px 20px;
    }
    
    .timeline__component--bg {
      padding: 1.5em;
      background: #00DAFF;
      
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      
    }
    
    
    .timeline__component--bottom {
      margin-bottom: 0;
    }
    
    .timeline__middle {
      position: relative;
      background: #00DAFF;
    }
    
    .timeline__point {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 15px;
      height: 15px;
      background: #00DAFF;
      border-radius: 50%;
    }
    
    
    .timeline__point--bottom {
      top: initial;
      bottom: 0;
    }
    
    .timeline__date--right {
      text-align: right;
    }
    
    .timeline__title {
      margin: 0;
      font-size: 1.15em;
      font-weight: bold;
    }
    
    .timeline__paragraph {
      line-height: 1.5;
    }
   

   
   