.container {  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 270px;
  grid-template-rows: 0.1fr 1.2fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "gallery gallery gallery nav"
    "gallery gallery gallery nav";
}

.nav { grid-area: nav; }

.header { grid-area: header; }

.gallery { grid-area: gallery; }

  
  .header {
     grid-area: header;
     background: #00DAFF;
     height: 15vh;
     overflow: hidden;
     }
  
  .nav {
     grid-area: nav;
     background: #00DAFF; 
     text-align: center;
     font-family: 'Agency FB', sans-serif;
     font-size: 30px;
     height: 100vh;
     overflow: hidden;
     position: fixed;
     right: 0;
     width: 269px;
    }

    .navtext-bovenste {
      margin-top: 90px;
      color: white;
      font-size: 14pt;
    }
  
  

    .headerimg {
      float: left;
      width: 30%;
      overflow: hidden;
    }

    body {
        margin: 0;
        
    }

    .navtext {
      color: white;
      font-size: 14pt;
    }

    .navlinks {
      text-decoration: none;
    }

    .navtext:hover {
      color: darkblue;
    }

    .navtext-bovenste:hover {
      color: darkblue;
    }

    
