.container {  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 270px;
  grid-template-rows: 0.1fr 1.2fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "pagina pagina pagina nav"
    "pagina pagina pagina nav";
}

.nav { grid-area: nav; }

.header { grid-area: header; }

.pagina { grid-area: pagina; }

  
  .header {
     grid-area: header;
     background: #00DAFF;
     height: 15vh;
     overflow: hidden;
     }
  
  .nav {
     grid-area: nav;
     background: #00DAFF; 
     text-align: center;
     font-family: 'Agency FB', sans-serif;
     font-size: 30px;
     height: 315vh;
     overflow: hidden;
     position: fixed;
     right: 0;
     width: 269px;
  }
  
  

    .headerimg {
      float: left;
      width: 30%;
      overflow: hidden;
    }

    body {
        margin: 0;
        
    }

    .navtext-bovenste {
      margin-top: 90px;
      color: white;
      font-size: 14pt;
    }

    .navtext {
      color: white;
      font-size: 14pt;
    }

    .navlinks {
      text-decoration: none;
    }

    .pagina {
      margin: 0;
      background-color: white;
      padding: 2em;
      color: black;
      font-family: 'Agency FB', sans-serif;
  }
  
  .pagina::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      position: fixed;
      
  }
  
  .pagina {
      margin: 0;
      padding: 0;
      
  }
  
  h2 {
      margin-bottom: 0.5em;
  
  }
  
  .title {
      text-align: center;
  }
  
  .title p {
      color: black;
      font-size: 1.3em;
      letter-spacing: 2px;
      margin: 50px;
  }


.timeline .checkpoint {
  box-sizing: border-box;
  width: calc(50% - 100px);
  padding: 40px 0;
  position: relative;
}

.timeline .checkpoint > div {
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
}

.timeline .checkpoint:nth-child(odd) {
  margin-left: calc(50% + 100px);
}

.timeline .checkpoint:before {
  content: " ";
  display: block;
  border-radius: 50%;
  background: white;
  border: 3px solid black;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  z-index: 100;
}
.timeline .checkpoint:nth-child(odd):before {
  left: -117px;
}
.timeline .checkpoint:nth-child(even):before {
  right: -117px;
}

.timeline .checkpoint:after {
  content: " ";
  display: block;
  height: 3px;
  background: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 117px;
}
.timeline .checkpoint:nth-child(odd):after {
  left: -117px;
}
.timeline .checkpoint:nth-child(even):after {
  right: -117px;
}


.img-hof {
  height: 150px;
  float: right;
  margin-right: 10px;
  margin-top: -180px;
}

.img-hof2 {
  height: 130px;
  float: right;
  margin-right: 0px;
  margin-top: -165px;
}

.img-hof3 {
  height: 130px;
  float: right;
  margin-right: 5px;
  margin-top: -120px;
}

.img-hof4 {
  height: 130px;
  float: right;
  margin-right: 5px;
  margin-top: -160px;
}

.img-hof5 {
  height: 130px;
  float: right;
  margin-right: 5px;
  margin-top: -155px;
}

.tr {
  line-height: 10px;
}

.text-hof {
  text-align: left;
  margin-right: 220px;
}

.tijd-odd {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  margin-top: -20px;
  font-size: 16pt;
  left: -80px;
}

.tijd-even {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  margin-top: -20px;
  font-size: 16pt;
  right: -83px;
 }

 .tijd-even2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  margin-top: -20px;
  font-size: 16pt;
  right: -80px;
 }

 .tijd-even3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  margin-top: -20px;
  font-size: 16pt;
  right: -83px;
 }
.timeline {
  position: relative;
  padding: 0 20px;
}
.timeline:before {
  content: " ";
  display: block;
  position: absolute;
  left: calc(50% - 1.5px);
  width: 3px;
  height: 100%;
  background: black;
}

.navtext:hover {
  color: darkblue;
}

.navtext-bovenste:hover {
  color: darkblue;
}
